<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set Ebean loggers to WARN to hide SQL queries -->
    <logger name="io.ebean.SQL" level="WARN"/>
    <logger name="io.ebean.TXN" level="WARN"/>
    <logger name="io.ebean.SUM" level="WARN"/>
    <logger name="io.ebean.cache" level="WARN"/>

    <!-- Application logger -->
    <logger name="com.internship.rblp" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
